@page
@model WebAppHelloWorld.Pages.FizzBizzModel
@{
    ViewData["Title"] = "FizzBizz";
}

<h2 class="bg-primary">FizzBizz for @Model.Number</h2>
<p>
    <table class="table table-striped text-primary bg-success">
        @foreach (var item in Model.Numbers)
        {
            <tr>
                <th>@item</th>
            </tr>
        }
    </table>
    @*<ul class="list-unstyled">
            @foreach (var item in Model.Numbers)
            {
                <li>@item</li>
            }
        </ul>*@

    @*foreach (var item in Model.Numbers)
        {
            <br /> @item
        }*@
    @*<p>@item</p>*@

</p>

